@import '../../../colors.scss';

.project-listing-selector {
    display: flex;
    width: 100%;
    background: white;
    box-sizing: border-box;
    z-index: 1;
    top: 80px;
    padding: 50px 0px;
    position: -webkit-sticky;
    position: sticky;

    .selector-wrapper{
        display:flex;
        justify-content: space-between;
        color: $link-non-activated;
        width: 100%;
        font-size:13px;

        .view-mode-wrapper {
            display: flex;
            flex: 0 0 240px;

            .view-mode-item {
                &:first-child{
                    margin-right:10px;
                }

                &:hover{
                    color: $link-activated;
                }




                .activated {
                    color: $link-activated;
                }
            }
        }

        .filter-wrapper{
            display:flex;
            font-size:12px;

            .filter-item {
                margin-right:20px;

                &.field{
                    height:20px;
                    width:200px;
                    padding-left:25px;
                    background-repeat: no-repeat;
                }

                &:last-child{
                    margin-right:0px;
                }

                &:hover{
                    color: $link-activated;
                }
                &.activatedSearch{
                    color: $link-activated;
                }

                .activated {
                    color: $link-activated;
                }
            }

        }

    }


}


@media screen and (max-width: 767px) {

    .project-listing-selector {
        top:60px;
        padding: 35px 8px;
        height: 214px;

        .selector-wrapper{

            display: inline;
            color: $link-non-activated;
            width: 100%;
            font-size:12px;

            .view-mode-wrapper {
                display: flex;
                flex: 0 0 180px;

                .view-mode-item {
                    &:first-child{
                        margin-right:10px;
                    }

                    &:hover{
                        color: $link-activated;
                    }

                    .activated {
                        color: $link-activated;
                    }
                }
            }

                .filter-wrapper{
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;

                    .filter-item {
                        margin: 5px 10px;


                    &.field{
                        height:20px;
                        width: 100%;
                        margin: 20px 0px;
                        background-repeat: no-repeat;
                    }


                    &:last-child{
                        margin-right:0px;
                    }

                    &:hover{
                        color: $link-activated;
                    }

                    &.activatedSearch{
                        color: $link-activated;
                    }


                    &.activated {
                        color: $link-activated;
                        text-decoration: underline;

                    }
                }

            }

        }
    }
}
