@import '../../colors.scss';


.menu {
    display: flex;
    padding: 0px 50px;
    width: 100%;
    height: 80px;
    background: white;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;

    .menu-button{
        display: none;
    }

    .menu-opened-logo-wrapper, .menu-closed-logo-wrapper{
        display:none;
    }

    .menu-wrapper{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border:none;

        .logo-wrapper{
            flex: 0 0 164px;
            font-weight: 500;

            .logo {
                font-family: 'Avenir_Demi';
                font-weight: 500;
                font-size:16px;
            }
        }

        .line-wrapper{
            flex: 1;
            position: relative;
            margin: 0 40px;

            .line {
                position: absolute;
                top:50%;
                width: 100%;
                border-top: 1px solid black;
            }
        }

        .menu-item-wrapper {
            flex: 0 0 500px;
            .menu-items{
                color: $link-non-activated;
                display:flex;
                align-items: center;
                justify-content: space-between;

                .menu-item:first-child{
                    display:flex;
                    margin: 0px 10px 0 0;
                }

                .menu-item{
                    display:flex;
                    margin: 0 10px;
                    font-size: 14px;
                }

                .menu-item:hover {
                    color:$link-activated;
                    // text-decoration: underline;
                }

                .icons-wrapper {
                    display: flex;
                    align-items:center;
                    flex-basis:100px;
                    color: $link-activated;

                    .icon-item {
                        width: 33%;
                        margin: 0 5px;

                        &.language {
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                    }

                    .icon-item svg{
                       display:flex;
                       height: 25px;
                    }

                    .icon-item:hover svg{
                        // transform: scale(1.1);
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 767px) {
    .menu {
        height:50%;
        padding: 0px;
        z-index: 2;

        border-bottom: 1px solid rgba(0,0,0,.1);;

        &.menu-closed{
            height:60px;
        }

        &.main-page{

            border:none;
        }

        .menu-button{
            width: 30px;
            cursor: pointer;
            position:fixed;
            right: 20px;
            display: inline;
            top: 22px;
        }

        .menu-closed-logo-wrapper{
            display: initial;
            position: absolute;
            top: 15px;
            left: 20px;

            &.menuClosed{
                display:none;
            }

            .menu-logo{
                width:30px;
            }
        }


        .menu-opened-logo-wrapper{
            width: 100%;
            display: flex;
            align-items: flex-end;
            margin: 20px;

            &.opened{
                align-items: center;
                justify-content: center;
            }

            &.menuClosed{
                display:none;
            }

            .header-logo{
                width:40%;
            }
        }


        .menu-wrapper{
            width:100%;
            display:flex;
            justify-content: space-between;
            align-items: center;

            .logo-wrapper{
                display:none;
            }

            .line-wrapper{
                display:none;
            }

            &.menuClosed{
                display:none;

            }

            .menu-item-wrapper {
                justify-content: flex-end;
                flex: 1 1;
                width: 100%;
                box-sizing: border-box;
                height: 100%;
                padding: 80px 20px 20px 20px;


                .menu-items{
                    flex-direction: column;
                    height: 100%;
                    align-items: flex-end;

                    .menu-item{
                        display:flex;
                        margin: 0px;
                        font-size: 16px;
                        padding: 1px;
                        margin-top: 8px;

                        &:first-child{
                            display:flex;
                            margin: 0px;
                        }
                    }

                    .menu-item:hover {
                        color:$link-activated;
                        // text-decoration: underline;
                    }

                    .icons-wrapper {
                        display: flex;
                        align-items:center;
                        justify-content: flex-end;
                        flex-direction: column;
                        color: $link-activated;
                        margin-top: 8px;

                        .icon-item {
                            width: 100%;
                            margin: 0;

                            &.language {
                                text-transform: uppercase;
                                text-align: right;
                            }
                        }

                        .icon-item svg{
                           display:flex;
                           margin-right: -5px;
                           height: 28px;
                        }

                        .icon-item:hover svg{
                            // transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

}
