.project-selected {
    width:100%;
}

.people{
    padding: 0 10%;

    @media screen and (max-width: 767px) {
        padding:0;
     }

    .boss-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
           padding:0;
        }
        
        .people-card:last-child {
            flex-basis: 100%;
            height: 100%;
        }
    
    }

    .people-wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .people-ex-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom:1.83em

    }

    .people-new-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .apply{
            width: 186px;
            height: 58px;
            font-weight: 600;
            border: 1px solid #1c1c1c;
            display: flex;
            align-items: center;
            font-size: 18px;
            justify-content: center;
            margin-bottom: 100px;
            margin-top: 16px;
            &:hover{
                background-color: #1c1c1c;
                color: white;
            }
        }
    }  

}






