.project-listed {

    &-wrapper {


        .table {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            .header, .row {
                display: flex;
                justify-content: space-between;



                div {
                    flex: 3;
                    padding: 0.2rem 0.4em;

                    svg {
                        width: 14px;
                        margin-left: 8px;
                        -webkit-transition: .25s transform ease-out;
                        -moz-transition: .25s transform ease-out;
                        -ms-transition: .25s transform ease-out;
                        transition: .25s transform ease-out;
                    }

                    svg.descending {
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }

                div.year, div.country {
                    flex-grow: 1;
                }

                div.category, div.location {
                    flex-grow: 2;
                }

                &:first-child{
                    border-bottom: 1px solid #e0e0e0;
                    flex: 1;
                    padding: 0.2rem 0.4em;
                }

                &.notfound {
                    display: flex;
                    justify-content: center;
                    margin-top:10px;
                    border-bottom:none;
                }

                &:last-child > div{
                    border-bottom: none;
                }

            }

            .row{
                color: #8F8F8F;
                flex: 1;
                padding: 0.2rem 0.4em;
                border-bottom: 1px solid #e0e0e0;

                .category{
                    text-transform: lowercase;
                }

                &:last-child > div{
                    border-bottom: none;
                }

                &.hasSite{
                    color: #8F8F8F;
                    cursor: pointer;
                    &:hover{
                        color: #1c1c1c;

                    }
                }


            }


            .header {
                font-size:14px;
                font-weight: 500;
                position: sticky;
                top: 200px;
                    background: white;
                div {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .project-listed {

        &-wrapper {


            .table {
                margin:0;
                display: flex;
                flex-direction: column;

                .header, .row {
                    display: flex;
                    justify-content: space-between;

                    .location, .country, .category{
                        display: none
                    }

                    &.notfound {
                        display: flex;
                        justify-content: center;
                        margin-top:10px;
                        border-bottom: none;
                    }

                    div {
                        flex: 1;
                        padding: 0.2rem 0.4em;
                    }
                    .year {
                        text-align: right;
                    }
                }

                .header {
                    position: sticky;

                    top: 270px;

                    .location, .country{
                        display: none
                    }

                    .year{
                        text-align: right;
                    }

                    div {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}



