.project-listed {

    &-wrapper {
           
        
        .table {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            .header {
                .category{
                    color:#BCBCBC;
                }
            }
            
            .header, .row {
                display: flex;
                justify-content: space-between;
                
               
            
                div {
                    flex: 1;
                    padding: 0.2rem 0.4em;
                }

                &:first-child{
                    border-bottom: 1px solid #1c1c1c;
                    flex: 1;
                    padding: 0.2rem 0.4em;
                }

                &.notfound {
                    display: flex;
                    justify-content: center;
                    margin-top:10px;
                    border-bottom:none;
                }

                &:last-child > div{
                    border-bottom: none;
                }

            }

            .row{
                color: #8F8F8F;
                flex: 1;
                padding: 0.2rem 0.4em;
                border-bottom: 1px solid #1c1c1c;

                .category{
                    text-transform: lowercase;
                }

                &:last-child > div{
                    border-bottom: none;
                }

                &.hasSite{
                    color: #8F8F8F;
                    cursor: pointer;
                    &:hover{
                        color: #1c1c1c;

                    }
                }


            }
            
            
            .header {
                font-size:14px;
                font-weight: 600;
                position: sticky;
                top: 200px;
                    background: white;
                div { 
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .project-listed {

        &-wrapper {
               

            .table {
                margin:0;
                display: flex;
                flex-direction: column;
                
                .header, .row {
                    display: flex;
                    justify-content: space-between;

                    .location, .country, .category{
                        display: none
                    }
    
                    &.notfound {
                        display: flex;
                        justify-content: center;
                        margin-top:10px;
                        border-bottom: none;
                    }
                
                    div {
                        flex: 1;
                        padding: 0.2rem 0.4em;
                    }
                    .year {
                        text-align: right;
                    }
                }
                
                .header {
                    position: sticky;
  
                    top: 293px;

                    .location, .country{
                        display: none
                    }
                    
                    .year{
                        text-align: right;
                    }
                                      
                    div { 
                        cursor: pointer;
                    }
                }
            }
        }
    }
}



