.people-card {
    width:300px;
    flex-wrap: wrap;
    margin-bottom: 32px;

    &-inner{

        .avatar-wrapper{
            width: 250px;
            height: 250px;
            margin: 0 auto;
            img {
                width:100%;
            }
        }

        .text-wrapper{
            text-align: center;

            width:250px;
            padding: 15px 0px;
            box-sizing: border-box;
            margin: 0 auto;

            .name {
                font-weight: 600;
                padding-bottom: 10px;
            }

            .detail{
                font-size:12px;
            }

            .info{
                font-weight: 600;
                cursor: pointer;
                margin-top:10px;


                &:hover{
                    text-decoration: underline;
                }
            }

            img {
                width:100%;
            }
        }
    }
}

.bottombar {
    position:fixed;
    bottom: 0px;
    padding: 40px 100px;
    background: white;
    height: auto;
    border-top:1px solid #1c1c1c;
    left: 0;
    text-align: left;
}



.close{
    text-align: right;
    font-size: 20px;
    position: absolute;
    right: 14px;
    top: 8px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .bottombar{
        padding: 40px;
    }
}
