@import '../../../colors.scss';

.office-view-selector {
    display: flex;
    width: 100%;
    background: white;
    box-sizing: border-box;
    z-index: 1;
    padding: 50px 0px;
    // position: fixed;

    .selector-wrapper{
        display:flex;
        justify-content: space-between;
        color: $link-non-activated;
        width: 100%;
        font-size:12px;

        .view-mode-wrapper {
            display: flex;
            flex: 0 0 180px;

            .view-mode-item {
                margin-right:10px;

                &:last-child{
                    margin-right:0px;
                }

                &:hover{
                    color: $link-activated;
                }

                .activated {
                    color: $link-activated;
                }
            }
        }

        .filter-wrapper{
            display:flex;

            .filter-item {
                margin-right:20px;

                &:last-child{
                    margin-right:0px;
                }

                &:hover{
                    color: $link-activated;
                }

                .activated {
                    color: $link-activated;
                }
            }

        }
        
    }


}

