@import '../../../colors.scss';

.office-view-selector {
    display: flex;
    width: 100%;
    background: white;
    box-sizing: border-box;
    z-index: 1;
    top:80px;
    padding: 50px 0px;
    position:sticky;

    .selector-wrapper{
        display:flex;
        justify-content: space-between;
        color: $link-non-activated;
        width: 100%;
        font-size:12px;

        .view-mode-wrapper {
            display: flex;
            flex: 0 0 180px;

            .view-mode-item {
                margin-right:10px;

                &:last-child{
                    margin-right:0px;
                }

                &:hover{
                    color: $link-activated;
                }

                .activated {
                    color: $link-activated;
                }
            }
        }

        .filter-wrapper{
            display:flex;

            .filter-item {
                margin-right:20px;

                &:last-child{
                    margin-right:0px;
                }

                &:hover{
                    color: $link-activated;
                }

                .activated {
                    color: $link-activated;
                }
            }

        }
        
    }


}

@media screen and (max-width: 767px) {
    .office-view-selector {
        top:60px;

        .selector-wrapper{
            width:100%;
    
            .view-mode-wrapper {
                justify-content: space-around;
                width: 100%;
                flex: 1 1;

                .view-mode-item {
                    margin-right:0;
                    width:33%;
                    text-align: center;
                }
            }
            
        }
    
    
    }

}

