.contact{
    width: 100%;
    height: 100%;
    
    .contact-wrapper{
        display: flex;
        align-items: center;
        height: 100%;

        &-part {
            width:50%;

            &.map {
                display:flex;
                justify-content: flex-end;
                margin-right: 100px;
            }
        }

        .gmaphack{
            width: 400px;
            height: 400px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
    }
}