html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;

  cursor: default;
}

a, .selector{
  text-decoration: none;
  color: inherit;
  cursor:  pointer;

}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Avenirrrr';
  box-sizing: border-box;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

@font-face {
  font-family: 'Avenirrrr';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Avenir-Book.eot);
  src: url(./fonts/Avenir-Book.eot?#iefix) format("embedded-opentype"),
       url(./fonts/Avenir-Book.woff) format("woff"),
       url(./fonts/Avenir-Book.ttf) format("truetype");
}

@font-face {
  font-family: 'Avenirrrr';
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/Avenir-Roman.eot);
  src: url(./fonts/Avenir-Roman.eot?#iefix) format("embedded-opentype"),
       url(./fonts/Avenir-Roman.woff) format("woff"),
       url(./fonts/Avenir-Roman.ttf) format("truetype");
}

//variables
//colors
$link-activated: #1c1c1c;
$link-non-activated: #BCBCBC;

.activated{
  color: $link-activated;
}

.non-activated{
  color: $link-non-activated;
}

