html {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: url('./components/common/cursor/cursor.svg'), default;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url('./components/common/cursor/cursor_hand.svg'), pointer;

}

body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: "Avenir";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

@font-face {
  font-family: 'Avenir_Reg';
  font-style: normal;
  font-weight: 400;
  src:
    local('Avenir_Reg'),
    url(./fonts/AvenirNextLTPro-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Avenir_Demi';
  font-style: normal;
  font-weight: 500;
  src:
    local('Avenir_Demi'),
    url(./fonts/AvenirNextLTPro-Demi.otf) format('otf');
}

//variables
//colors
$link-activated: #1c1c1c;
$link-non-activated: #BCBCBC;

.activated{
  color: $link-activated;
}

.non-activated{
  color: $link-non-activated;
}

