
@import '../../../colors.scss';

$white: rgb(255,255,255);

#app {
	position: relative;
	animation: fadeIn 500ms ease-in-out forwards;
}

.selectors {
	position: absolute;
	top: 60px;
	margin: 0 -50px 0 0;
	right: 0;
	width: 50px;
	height: calc(100% - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	.selector {
		background: $link-non-activated;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		margin: 5px 0;
		opacity: 0.6;
		transition: background .3s ease-in-out, opacity .3s ease-in-out;
		&:hover,
		&.active {
			background: $link-activated;
			opacity: 0.9;
		}
	}
}

section.wrapper{
	position: relative;
	width: 100%;
	height: 100%;

	transition: background-image 500ms ease-in-out;
	background-position: center;
}

section.wrapper-main {
	background-size: cover;
}

section.wrapper-entity {
	background-size: contain;
	background-repeat: no-repeat;
}

section img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;

	-webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

section img.active {
	opacity: 1;
}

aside.panel {
	width: 100%;
	height: 100%;
	opacity: 0.9;
	color: $white;
	transition: background 500ms ease-in-out;

	.carousel-logo-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		.carousel-logo {
			width: 150px;
		}

	}

}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media screen and (max-width: 767px) {

	.selectors{
		display:none;
	}

	aside.panel .carousel-logo-wrapper .carousel-logo{
		display: none;
	}

}
